body{
font-family: 'Titillium Web', sans-serif;
height: 100%;
}

.navbar{
    background-color: #0f0e0e;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0);
    min-height: 100px;
}

.nav-link{
    color: #ffffff
}

.navbar-brand{
    color: #ffffff
}

.img-responsive{
    height: 85px;
}

.img-responsive2{
    height: 100px;
}

.form-group{

    padding-top: 20px;
    justify-content: center;
    max-width: 1200px;
    padding-left: 34%;
    align-content: center;
}

.form-check{

    padding-left: 32%;
    padding-right: 32%;
    padding-top: 20px;
}

.btn-primary{
    align-content: center;
    padding-left: 40%;
    padding-top: 10;
    text-align: center;

}

#nombreHelp {
    padding-top: 5%;
}

h2{
    align-content: center;
    padding-top: 5%;
}

.text-uppercase{
    padding-top: 25px;
}

.container{
    padding-top: 10%;
}


.formulario{
    width: 500px;
}

.contenido{
    display: flex;justify-content: center;
}
